// .button {
//   color: #000000;
//   font-size: 13px;
//   font-weight: bold;
//   padding: 9px 36px;
//   line-height: 24px;
//   display: inline-block;
//   background-color: #feb518;
//   text-transform: capitalize;
//   border: 2px solid transparent;
//   transition: all 300ms ease;
//   cursor: pointer;

//   &:hover {
//     color: #feb518;
//     background-color: transparent;
//     border: 2px solid #feb518;
//   }
// }

.normalButton,
.userButton {
  font-size: 16px;
  line-height: 17px;
  background: #feb518;
  border: 2px solid #feb518;
  border-radius: 50px;
  color: #5a5a5a;
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  cursor: pointer;

  &:hover {
    color: #feb518;
    background-color: transparent;
    border: 2px solid #feb518;
  }
}
